<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Библиотека</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/userlist.css">
</head>

<body>
    <div class="content">
        <header>
            <h1 id="header">Библиотека</h1>
        </header>
        <div class="user">
            <div class="user-buttons">
                <a class="books-button id="user-button" href="/users">Пользователи</a>
                <a class="books-button id="book-button" href="/books">Книги</a>
            </div>
        </div>
    </div>
</body>

</html>
